body
{
    background-image:url("pictures/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.ship
{
    position: absolute;
    left: 0;
    bottom: 10vh;
}

.federation
{
    bottom: 10vh;
    left: 0vw;
}

.rebel
{
    bottom: 30vh;
    left: 0vw;
}

.logo
{
    position: absolute;
    left: 40vw;
    bottom: 80vh;
}

.end
{
    position:  absolute;
    right: 0vh;
    bottom: 5vh;
    transform: scaleX(-1);
}